
.p1:hover{
    transform: scale(1.2);  }
  
.p2:hover{
    transform: scale(1.2);  }
  
.p3:hover{
    transform: scale(1.2);  }
  
.p4:hover{
    transform: scale(1.2);
  }
  
.p5:hover{
    transform: scale(1.2);
  }
  