
.p1:hover{
    animation: popUpEffect 0.5s ease-in-out;
  }
  
.p2:hover{
    animation: popUpEffect 0.5s ease-in-out;
  }
  
.p3:hover{
    animation: popUpEffect 0.5s ease-in-out;
  }
  
.p4:hover{
    animation: popUpEffect 0.5s ease-in-out;
  }
  
.p5:hover{
    animation: popUpEffect 0.5s ease-in-out;
  }
  



  @keyframes popUpEffect {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1); 
    }
  }
  